{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="password">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus required name="current_password" placeholder="Сurrent password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus required name="new_password" placeholder="New password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus required name="confirmation" placeholder="Check password" type="password">
            </div>
            <div class="mb-3">
                <button class="form-control mx-auto w-auto" type="submit">Change</button>
            </div>
        </div>
    </form>
{% endblock %}
